asgiref==3.5.2
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
colorama==0.4.4
crispy-bootstrap5==0.6
cryptography==37.0.4
defusedxml==0.7.1
Django==4.0.5
django-admin-env-notice==0.4
django-admin-honeypot==1.1.0
django-ckeditor==6.4.2
django-contrib-comments==2.2.0
django-crispy-forms==1.14.0
django-environ==0.9.0
django-formtools==2.3
django-js-asset==2.0.0
django-licensing==1.0.4
django-localflavor==3.1
django-zxcvbn-password==2.1.1
ecdsa==0.18.0
idna==3.3
multithreading==0.2.0
mysqlclient==2.1.1
oauthlib==3.2.0
Pillow==9.2.0
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
PyJWT==2.4.0
python-http-client==3.3.7
python-jose==3.3.0
python-stdnum==1.17
python3-openid==3.2.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
sendgrid==6.9.7
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.3.0
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
tzdata==2022.1
urllib3==1.26.10
zxcvbn==4.4.28
