{%  extends 'base.html' %}
{% load static %}
{% block title %} 
Add Post
{% endblock %}


{% block content %}
</br>
</br>
{% if user.is_authenticated %}
<div class="form-control">

    <h1 class=" text-center font-weight-light">ADD POST</h1>
    <form method="POST" enctype="multipart/form-data" >
    {% csrf_token %} 
    {{ form.as_p }}
    {{ form.media }}
    <button class="btn btn-secondary " >Post</button>    
    </form>

</br>
</br>
</br>
</br>
</br>


</div>
{% endif %}

<script src="{% static 'js/author.js' %}"></script>

{% endblock %}