{%  extends 'base.html' %}
{% block title %} 
Delete Post
{% endblock %}


{% block content %}

</br>
{% if user.is_authenticated %}
<div class="form-control">

    <h1 class=" text-center font-weight-light">DELETE : {{ post.title }}</h1>
    <form method="POST">
    {% csrf_token %} 
    {{ form.as_p }}
    {{ form.media }}
    <h3>You will not be able to undo this process....</h3>
    <button class="btn btn-secondary ">Delete</button>    
    </form>

</br>
<hr class="invis">
</div>
{% endif %}
</br>
</br>
</br>
</br>
    
{% endblock %}}